body{
  font-family: "Avenir Next";
}

li {
  float:left;
  list-style: none;
}


.logo{
  width:140px;
  margin-top: -40px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto
}

.top-wrapper{
  padding: 60px 0 50px 0;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm281-nunny-425.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1000&s=af11578422b4286d5225711643cd3bf8);
  background-size: cover;
  color:#a89780;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 80px;
  letter-spacing: 7px;
  margin-bottom: 9px;
}

.top-wrapper h2 {
  font-size:35px;
  font-family: "Amatic sc";
}

.top-wrapper p {
  opacity:1;
  margin-bottom:10px;
}

.btn-wrapper p {
  margin: 1px 0;
}

.btn-wrapper {
  margin: 10px 0;
}

.signup {
  background-color:#a89780;
}

.login {
  background-color:#a89780;
}

.btn {
  padding: 20px 35px;
  color:#fffbf5;
  display: inline-block;
  opacity:0.8;
  border-radius:4px;
  text-align:center;
}

.btn:hover {
  opacity:1;
}

header {
  height:65px;
  width:98.9%;
  background-color:#f5e6d3;
  position:fixed;
  top:0;
  z-index:10
}

.header-left {
  float:left;
}

.header-right {
  float:right;
  margin-right:10px;
}

.header-right a {
  line-height:65px;
  padding: 0 20px;
  color:#6f92a8;
  display:block;
  float:left;
  transition:all 0.5s;
  text-decoration: none;
}

.header-right a:hover {
  background-color:#d1e7f5;
}

.lesson-wrapper {
  padding-bottom: 145px;
  padding-top:30px;
  padding-left: 5%;
  padding-right:5%;
  background-color:#f5e6d3;
  text-align:center;
  border-bottom: 2px solid#a89780
}

.heading h2 {
  font-size: 60px;
}

.lesson {
  float:left;
  width:33%;
}

.lesson-icon {
  position:relative;
}

.lesson-icon p {
  position:relative;
  top:75%;
  width:100%;
  color:#6f92a8;
}

.latestproduct-wrapper {
  padding-bottom:400px;
  padding-top:35px;
  padding-left: 5%;
  padding-right: 5%;
  background-color:#d1e7f5;
  text-align:center;
  border-bottom:2px solid#a89780
}

.headinglastproduct h2{
  font-size: 50px;
  font-family: "Amatic sc";
  text-align: center;
  color:#6f92a8;
}

.latestproduct {
  float:left;
  width:33%;
}

.latestproduct-icon {
  position:relative;
}

.latestproduct-icon p {
  top:70%;
  width:100%;
  color:#a89780;
  font-size: 20px;
  border-bottom: 2px;
}

.text-contents {
  width:100%;
  display:inline-block;
  margin-top:15px;
  font-size: 15px;
  color:#6f92a8;
}

.main {
  padding-bottom: 250px;
}

.copy-container h1 {
  font-size: 70px;
  font-family: "Amatic sc";
  color:#fffbf5;
  background-color:#a89780;
  text-align: center;
}

.contents{
  height:200px;
  padding-bottom:60px;

}

.contents-item {
  padding-top: 0px;
  padding-bottom:0px;
  width:50%;
  float:left;
}

.contact-form {
  padding-top:1500px;
  background-color:#f5e6d3;
  padding-left: 4%;
  font-size: 15px;
  color:#a89780;
}

input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color:#dee7ec;
  color:#889eab;
}

footer {
  background-color:#6f92a8;
  width:100%;
  height:400px;
}

.footer-left {
  float:left;

}

.footer-right {
  float:right;
}

.footer-right a {
  text-decoration:none;
  font-size:20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-right h3 {
  font-size: 28px;
  color:#d1e7f5;
}
